*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('asset/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: #172F9F;
    font-family: sans-serif;
}

.logo{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
}
